/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.03125em;
}

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chats-container {
  background-color: rgb(240, 240, 240) !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 0.25em solid #cabcdc !important;
  border-radius: 0em !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 1.25em !important;
}

.ce-text-input {
  border-radius: 0.375em !important;
  border: 0.0625em solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 0.375em !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 0.0625em;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 1.375em !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 0.375em !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 0.375em !important;
  border: 0.0625em solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 0.75em !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 1.125em;
  text-align: center;
}

.chat-title {
  color: #7554a0;
  font-weight: 800;
  font-size: 1.5em;
}

.chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 0.75em;
  padding-top: 0.25em;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 1.125em;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 2.75em;
  height: 2.75em;
  border-radius: 1.375em;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3em;
}

.message {
  padding: 0.75em;
  font-size: 1em;
  border-radius: 0.375em;
  max-width: 60%;
}

.message-image {
  margin-right: 1.125em;
  object-fit: cover;
  border-radius: 0.375em;
  height: 30vw;
  /* width: 30vw; */
  max-height: 12.5em;
  max-width: 12.5em;
  min-height: 6.25em;
  min-width: 6.25em;
}

.read-receipts {
  position: relative;
  bottom: 0.375em;
}

.read-receipt {
  width: 0.8125em;
  height: 0.8125em;
  border-radius: 0.8125em;
  margin: 0.09375em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.875em;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 1.125em;
  background-color: rgb(240, 240, 240);
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 0.0625em solid #3b2a50;
  background-color: white;
}

.message-input {
  height: 2.5em;
  width: calc(100% - 8.25em);
  background-color: white;
  border: 0.0625em solid white;
  padding: 0px 1.125em;
  outline: none;
  font-size: 0.9375em;
}

.image-button {
  cursor: pointer;
  padding: 0em 0.75em;
  height: 100%;
}

.send-button {
  height: 2.625em;
  background-color: white;
  border: 0.0625em solid white;
  padding: 0px 1.125em;
  cursor: pointer;
}

.send-icon {
  top: 0.0625em;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 0.0625em;
  position: relative;
  font-size: 0.875em;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: rgb(117,84,160);
  background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);  
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1.2rem;
    margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(212, 206, 206);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 1.5625em;
}

.form {
  width: 25em;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 1.875em;
  width: 100%;
  font-size: 2.3em;;
}

.button {
  border-radius: 0.25em;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.375em;
  padding: 1.25em;
  width: 12.5em;
  transition: all 0.4s;
  cursor: pointer;
  margin: 0.3125em;
  width: 90%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.25em;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 1.5625em;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1.25em;
}
